.vscode/**
.vscode-test/**
test/**
src/**
**/*.map
.gitignore
tsconfig.json
vsc-extension-quickstart.md
node_modules
out/
webpack.config.js
images/header.svg
images/All-Autocomplete.gif
images/icon.ai
